<h1 class="text-2xl font-bold mb-4">Задачи</h1>
<div class="grid grid-cols-3 gap-4">
  @for (task of tasks(); track task.id) {
  <div class="p-4 bg-white shadow rounded">
    <h3 class="font-semibold">Задача по заявке №{{ task.requestId }}</h3>
    <p>{{ task.scheduledStart | date:'short' }} - {{ task.scheduledEnd | date:'short' }}</p>
    <p>Обьект: {{ task.powerObjectIds }}</p>
    <p>Статус: {{ task.status }}</p>
    <button class="mt-2 px-3 py-1 bg-blue-500 text-white rounded cursor-pointer" (click)="open(task)">
      Открыть
    </button>
  </div>
  }
</div>